---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Taillard Marie</h1>
			<p class="hero__text">
				Animée par une passion pour l'apprentissage continu, j'ai réorienté ma carrière vers le développement web il y a trois ans.</p>
			<Boton href="#" texto="En savoir plus"/>
		</div>
    <img
		class="hero__img"
		src="public/img/profile-pic-34.png"
		alt="Taillard Marie"
		width="384"
    	height="384"
	/>
	</div>
</section>
