---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			Expertise en HTML, CSS, JavaScript, avec une spécialisation en React et Gatsby.<br>
			Expérience avec Strapi et GraphQL pour le développement web full-stack.<br>
			Maîtrise de Visual Studio Code pour le développement, et utilisation de ClickUp, Notion et Figma pour la gestion de projet et la conception.<br>
			Utilisation avancée de GitLab pour le suivi et la gestion des versions de code.
			

			<!--Communication : Capacité à communiquer efficacement avec les membres de l'équipe et les parties prenantes, assurant une compréhension claire des besoins et des objectifs du projet.
			Autonomie : Habitude de travailler de manière indépendante tout en maintenant une grande rigueur dans le respect des délais et des standards de qualité.
			Adaptabilité : Forte capacité à s'adapter à de nouvelles technologies et méthodes de travail, acquise lors de transitions de carrière et divers projets professionnels.

			Curiosité et apprentissage continu : Engagement à rester à jour avec les dernières tendances et technologies du développement web, démontré par un parcours d'apprentissage constant et une volonté de relever de nouveaux défis.
			Esprit d'équipe : Collaboration efficace avec les équipes de développement, favorisant un environnement de travail harmonieux et productif.-->
		</p>
	</div>
</section>
