---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/profile-pic-34.png"
			alt="Photo de profil Taillard Marie"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="A propos de moi" />
			<p class="about__text">
				Ayant débuté ma carrière en tant que technicienne de laboratoire, 
				j'ai récemment entrepris une transition professionnelle vers le 
				domaine du développement web.
				J'ai un besoin constant d'apprendre pour me sentir vivante. Le métier de 
				développeuse web est parfait pour cela, car il me permet de relever des défis 
				et de développer mes compétences en continu.
				J'apprécie également les interactions humaines et les projets collaboratifs, 
				car je suis convaincue que nous allons plus loin que nous accomplissons davantage en travaillant ensemble.
				Je suis enthousiaste à l'idée de continuer à élargir mes connaissances 
				et à perfectionner mes compétences. 
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
